body {
     margin: 0;
     font-family: "Lucida Grande", sans-serif;
   }
   
   a {
     text-decoration: none;
   }
   
   .header-menu {
    float: left;
    background-color: rgba(75, 75, 75, 0.7);
    color: white;
    transition: all 0.5s;
  }
  
  .header-menu:hover {
    background-color: rgba(150, 150, 150, 0.7);
  }

  .header-menu a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }



  .header-lesson {
    float: left;
    background-color: rgba(75, 75, 75, 0.7);
    color: white;
    transition: all 0.5s;
  }
  
  .header-lesson:hover {
    background-color: rgba(150, 150, 150, 0.7);
  }

  .header-lesson a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }

  .dropdown-lesson {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 160px;
    padding: 12px 16px;
    transition: all 0.5s;
  }
  
  .header-lesson:hover .dropdown-lesson {
    display: block;
    transition: all 0.5s;
  }

  .header-lesson .dropdown-lesson .item{
    background-color: none;
    transition: all 0.5s;
  }

  .header-lesson .dropdown-lesson .item:hover{
    background-color: rgba(150, 150, 150, 0.7);
    transition: all 0.5s;
  }





   .container {
    /*ubah responsive*/
    max-width: 1520px;
    margin: 0 auto;
    width: 100%;
   }
   
   .top-wrapper {
     padding: 180px 0 100px 0;
     background-image: url(img/p.jfif);
     background-size: cover;
     color: black;
     text-align: center;
   }
   
   .top-wrapper h1 {
     opacity: 0.7;
     font-size: 45px;
     letter-spacing: 5px;
     margin-bottom: 70px;
   }
   
   .btn-wrapper {
     margin: 20px 0;
   }
   
   .btn-wrapper p {
     margin: 10px 0;
   }
   
   .signup {
     background-color: black;
   }
   
   .facebook {
     background-color: #3b5998;
     margin-right: 10px;
   }
   
   .twitter {
     background-color: #55acee;
   }
   
   .btn {
     padding: 12px 24px;
     color: white;
     display: inline-block;
     opacity: 0.8;
     border-radius: 4px;
   }
   
   .btn:hover {
     opacity: 1;
   }
   
   .fa {
     margin-right: 5px;
   }
   
   header {
     height: 65px;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     /* Ubah position ke fixed, dan top ke 0 */
     position: fixed;
     top: 0;
     
     /* Ubah z-index ke 10 */
     z-index: 10;
   }
   
   .logo {
     width: 124px;
     margin-top: 20px;
   }
   
   .header-left {
     float: left;
   }
   
   .header-right {
     float: right;
     background-color: #b48484;
     transition: all 0.5s;
   }
   
   .header-right:hover {
     background-color: #e691a4;
   }
   
   .header-right a {
     line-height: 65px;
     padding: 0 25px;
     color: white;
     display: block;
   }
   
   .lesson-wrapper {
     height: 500px;
     padding-bottom: 80px;
     background-color: #f7f7f7;
     text-align: center;
   }
   
   .heading {
     padding-top: 60px;
     padding-bottom: 30px;
     color: #5f5d60;
   }
   
   .heading h2 {
     font-weight: normal;
   }
   
   .lesson {
     float: left;
     width: 25%;
   }
   
   .lesson-img {
     position: relative;     
   }
   
   .lesson-icon p {
     position: absolute;
     top: 90px;
     width: 100%;
     color: white;
   }
   
   .txt-contents {
     width: 80%;
     display: inline-block;
     margin-top: 20px;
     font-size: 15px;
     color: #b3aeb5;
   }
   
   .heading h3 {
     font-weight: normal;
   }
   
   .message-wrapper {
     border-bottom: 1px solid #eee;
     padding-bottom: 80px;
     text-align: center;
   }
   
   .message {
     padding: 15px 40px;
     background-color: #e691a4;
     cursor: pointer;
     box-shadow: 0 7px #b48484;
   }
   
   .message:active {
     position: relative;
     top: 7px;
     box-shadow: none;
   }
   
   footer img {
     width: 125px;
   }
   
   footer p {
     color: #b48484;
     font-size: 12px;
   }
   
   footer {
     padding-top: 30px;
     background-color: rgba(0, 0, 0);
   }
